version: "3.6"
services:

  api:
    image: api:{{ api_version }}
    hostname: api
    container_name: api
    environment:
      SECRET_KEY: "{{ django_secret_key }}"
      LOG_LEVEL: "WARNING"
      DATABASE_NAME: "baseapi"
      DATABASE_USER: "baseapi"
      DATABASE_PASSWORD: "{{ postgresql_password }}"
      DATABASE_HOST: "{{ postgresql_host }}"
      JWT_TOKEN_KEY: "{{ jwt_secret_key }}"
      FILE_TOKEN_KEY: "{{ file_token_key }}"
      TELEGRAM_API_ID: {{ telegram_api_id }}
      TELEGRAM_API_HASH: "{{ telegram_api_hash }}"
      TELEGRAM_BOT_TOKEN: "{{ telegram_bot_token }}"
      TELEGRAM_BOT_SESSION: "{{ telegram_bot_session }}"
    command: bash -c "make db-migrate && make gunicorn"
    ports:
      - 8000:8000
