/* html,
body {
  overscroll-behavior: none;
} */

body {
  padding: 0px;
  margin: 0px;
}

.ant-message-notice .ant-message-notice-content {
  padding: 0px;
  text-align: left;
}

.ant-list-item-meta-title {
  margin: 0px;
}

.ant-float-btn {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
}

.ant-float-btn-group-circle
  .ant-float-btn-circle:not(:last-child)
  .ant-float-btn-body {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
}

.ant-float-btn .ant-float-btn-body .ant-float-btn-content .ant-float-btn-icon {
  display: flex;
  font-size: 30px;
  justify-content: center;
}
